.pf-c-select__toggle:before {
  border-top: var(--pf-c-select__toggle--before--BorderTopWidth) solid
    var(--pf-c-select__toggle--before--BorderTopColor) !important;
  border-right: var(--pf-c-select__toggle--before--BorderRightWidth) solid
    var(--pf-c-select__toggle--before--BorderRightColor) !important;
  border-bottom: var(--pf-c-select__toggle--before--BorderBottomWidth) solid
    var(--pf-c-select__toggle--before--BorderBottomColor) !important;
  border-left: var(--pf-c-select__toggle--before--BorderLeftWidth) solid
    var(--pf-c-select__toggle--before--BorderLeftColor) !important;
}

table.vertical-middle-aligned-table tr td {
  vertical-align: middle;
}

.multiple-file-upload-status-item-force-blue .pf-v5-c-progress.pf-m-success {
  --pf-v5-c-progress__bar--before--BackgroundColor: var(
    --pf-v5-global--primary-color--100
  ) !important;
  --pf-v5-c-progress__status-icon--Color: var(--pf-v5-global--Color--100);
}

.multiple-file-upload-status-item-force-blue .pf-v5-c-progress__indicator {
  background-color: var(
    --pf-v5-c-progress__indicator--BackgroundColor
  ) !important;
}
